name: Check labels

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - labeled
      - unlabeled

jobs:
  check_labels:
    runs-on: ubuntu-22.04
    steps:
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: exactly
          count: 1
          labels: |
            release: major
            release: minor
            release: patch
