name: Check type labels

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - labeled
      - unlabeled

jobs:
  check_labels:
    runs-on: ubuntu-22.04
    steps:
      - name: Check type labels
        uses: mheap/github-action-required-labels@v5
        with:
          mode: minimum
          count: 1
          use_regex: true
          labels: |
            type/.*
