name: Release

on:
  push:
    branches: [main]
    paths:
      - 'sq-simulator.GTX'
      - 'examples/**'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Release
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
